
.input-group {
    background-color: rgb(247, 248, 252);
    padding:10px;
    margin: 10px;
    border-radius: 5px;
}
.input-group input{ 
    width: 90%;
    border:none;
    background-color: rgb(247, 248, 252);
    caret-color: black;
}
.input-group input:focus{
    outline: none;
}
.input-button{ 
    color:white;
    font-weight: bold;
}