<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.mapper.CustomerMapper">
    <sql id="selectCustomerByCustomerEmailSQL">
        select * from jd.customer
        <where>
            <if test="email!=null">
                customer_email=#{email}
            </if>
        </where>
    </sql>
    <select id="selectCustomerByCustomerEmail" resultType="customer">
        <include refid="selectCustomerByCustomerEmailSQL"/>
    </select>
</mapper>